
$primary-color-light: #fe654f;
$secondary-color-light: #fed18c;
$tertiary-color-light: #fed99b;

$background-color-light: #F6FBFF;
$background-color-light-2: #ebf7ff;

$breakpoint-medium: 700px;
$breakpoint-large: 1024px;

$header-height: 90px