
$primary-color-light: #fe654f;
$secondaty-color-light: #fed18c;
$tertiary-color-light: #fed99b;

$background-color-light: #F6FBFF;
$background-color-light-2: #ebf7ff;

$codeblock-color: #575757;
$codeblock-icon-color: #c5c5c5;

$breakpoint-medium: 700px;
$breakpoint-large: 1024px;