
@import '../../styles/vars.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 90px;
    width: 100%;
    padding: 0 10px;
    border-bottom: 1pt solid $primary-color-light;

    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        background: linear-gradient(to bottom, $secondaty-color-light, $primary-color-light);
        background-clip: text;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    button {
        position: absolute;
        right: 20px;
        border: none;
        background-color: transparent !important;

        .icon {
            height: 48px;
            width: 48px;
        }

        @media (min-width: $breakpoint-large) {
            display: none;
        }
    }
}